* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 30px 0;
}

section {
  margin-bottom: 3em;
}
